.social
    a(href="https://wa.me/79135134669" target="_blank" title="WhatsApp")
        include ../../img/icons/whatsapp.svg
    a(href="https://t.me/AleksChuykov" target="_blank" title="Telegram")
        include ../../img/icons/telegram.svg
    a(href="https://vk.com/blogchuikova" target="_blank" title="VK")
        include ../../img/icons/vk.svg