.social
    a(href="https://wa.me/79135134669 " target="_blank")
        //svg
        //    use(href="./assets/img/sprite.svg#whatsapp-icon")
        include ../../img/icons/whatsapp.svg
    a(href="https://t.me/AleksChuykov" target="_blank")
        include ../../img/icons/telegram.svg
    a(href="https://vk.com/blogchuikova" target="_blank")
        include ../../img/icons/vk.svg