.social
    a(href="" target="_blank")
        include ../../img/icons/whatsapp.svg
    a(href="https://t.me/AleksChuykov" target="_blank")
        include ../../img/icons/telegram.svg
    a(href="" target="_blank")
        include ../../img/icons/vk.svg