section.results.bg-cell
    .results__container.container
        h2.title-section.title-section--light Вот какие результаты я даю

        ul.results__list

            li.results__item.results-item
                .results-item__header
                    a(href="./assets/img/results/01-1.png" data-fancybox)
                        img.results-item__header-img(src="./assets/img/results/01-1.png")
                    .results-item__header-content
                        h3.results-item__title Новогоднее оформление коммерческих объектов.
                        p.results-item__desc Полная настройка рекламных компаний с ведением в течениче 45 дней. было получино 225 заявок со средней стоимостью 1 400р.

                a(href="./assets/img/results/01-2.png" data-fancybox)
                    img.results-item__img-report(src="./assets/img/results/01-2.png")


            li.results__item.results-item
                .results-item__header
                    a(href="./assets/img/results/02-1.png" data-fancybox)
                        img.results-item__header-img(src="./assets/img/results/02-1.png")
                    .results-item__header-content
                        h3.results-item__title Интернет-Магазин кованных мангалов. (Москва ,МО)
                        a.results-item__link(href="https://artli-kovka.ru/" target="_blank") artli-kovka.ru
                        p.results-item__desc Была проведена полная настройка и ведение 90 дней. В результате со средним чеком в 30000р. получили среднию цену заявки 2000-2500 при месячном бюджете в 350-400т. руб. в итоге бизнес был продан и сотруднечество прекращено

                a(href="./assets/img/results/01-2.png" data-fancybox)
                    img.results-item__img-report(src="./assets/img/results/02-2.png")


            li.results__item.results-item
                .results-item__header
                    a(href="./assets/img/results/03-1.png" data-fancybox)
                        img.results-item__header-img(src="./assets/img/results/03-1.png")
                    .results-item__header-content
                        h3.results-item__title Бани Каркасные, Бани из Бруса. (Москва, МО)
                        a.results-item__link(href="https://sksozdatel.ru/" target="_blank") sksozdatel.ru
                        p.results-item__desc Полная настройка рекламных компаний с ведением в течениче 45 дней. было получино 225 заявок со средней стоимостью 1 400р.

                a(href="./assets/img/results/01-2.png" data-fancybox)
                    img.results-item__img-report(src="./assets/img/results/03-2.png")