section.about.container#about
    .about__container
        h2.title-section.title-section--light Ваш проект в надежных руках

        .about__inner

            .about__desc
                .about__header
                    h3.about__name Александр Чуйков
                    span Маркетолог / Директолог

                p Работаю с 2019 года, за моей спиной больше 1000 настроек. часть ниш с которыми я работал можете посмотреть в #[a(href="#portfolio") партфолио]. также веду один из популярных блогов о Яндекс Директ в #[a(href="https://t.me/AleksChuykov" target="_blank") телеграм].
                p #[span.color-yellow Цель моей работы] - ваша окупаймость. <br> Привожу заявки дешевле среднерыночной цены за счет моих наработок и серьезного практического опыта.
                p #[span.color-yellow Результат моей работы виден сразу] - это новые заявки. Не ввожу в заблуждение, делаю только то, что реально даст результат.
                p.color-yellow.dc-underline.fw-700 Делаю результаты, в разы превышающие стоимость моих услуг и окупаюсь в первые недели после запуска.

            .about__video
                video(preload='auto' playsinline)
                    source(src='https://samplelib.com/lib/preview/mp4/sample-5s.mp4' type='video/mp4')
                .about__video-play.play-button
                    img(src="./assets/img/icons/video-play.svg")