section.about#about
    .about__container.container
        .about__content.bg-cell
            h2.title-section.title-section--light Ваш проект в надежных руках

            .about__inner

                .about__desc
                    .about__header
                        h3.about__name Александр Чуйков
                        span Маркетолог / Директолог

                    p Работаю с 2019 года, за моей спиной больше 1000 настроек. часть ниш с которыми я работал можете посмотреть в #[a(href="#portfolio") партфолио]. также веду один из популярных блогов о Яндекс Директ в #[a(href="https://t.me/AleksChuykov" target="_blank") телеграм].
                    p #[span.color-yellow Цель моей работы] - ваша окупаймость. <br> Привожу заявки дешевле среднерыночной цены за счет моих наработок и серьезного практического опыта.
                    p #[span.color-yellow Результат моей работы виден сразу] - это новые заявки. Не ввожу в заблуждение, делаю только то, что реально даст результат.
                    p.color-yellow.dc-underline.fw-700 Делаю результаты, в разы превышающие стоимость моих услуг и окупаюсь в первые недели после запуска.

                .about__video
                    a(href="https://www.youtube.com/embed/hbtWA3bhkNA?si=Z6aeeiutvQZkzYZI" title="Открыть видео" data-fancybox)
                        img(src="https://pic.rutubelist.ru/video/6a/6f/6a6f0856c4b0ddd806760be27a75d19f.jpg")