.hidden
  display: none !important

.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

section
  scroll-margin: 130px
  @media (max-width: $width-mobile)
    scroll-margin: 80px


.title-section
  @include fontSize(24, 40)
  margin-bottom: 40px
  font-weight: 700
  text-align: center
  color: $darkgrey
  text-wrap: balance
  @media (max-width: $width-mobile)
    margin-bottom: 32px
  &.title-section--light
    color: $white

.flex-center
  display: flex
  align-items: center
  justify-content: center


.button
  position: relative
  display: flex
  align-items: center
  justify-content: center
  font-weight: 400
  padding: 14px 44px
  min-height: 60px
  transition: $transition
  line-height: 1
  width: fit-content
  font-size: 20px
  border-radius: 10px
  user-select: none
  overflow: hidden
  white-space: nowrap
  color: $white
  @media (max-width: $width-mobile)
    font-size: 18px
    padding: 14px 24px
  img
    display: none
  &.button--accent
    background-color: $accent
    &:hover
      background-color: #FB3052
  &.button--yellow
    background-color: $yellow
    &:hover
      outline: 1px solid #fff
  &.button--outline
    border: 1px solid currentColor

.color-yellow
  color: $yellow

.color-accent
  color: $accent

.dc-underline
  text-decoration: underline

.fw-700
  font-weight: 700


.bg-cell
  position: relative
  background-image: url("../img/bg-cell.jpeg")
  background-size: cover
  background-position: center
  overflow: hidden
  mix-blend-mode: luminosity
  &::after
    content: ""
    position: absolute
    background-color: rgba($bg, 0.85)
    width: 100%
    height: 100%
    left: 0
    top: 0
  & > *
    position: relative
    z-index: 1



.hover-link:hover
  transition: $transition
  color: #FB3052


.scroll-margin
  scroll-margin: 120px
  @media (max-width: $width-mobile)
    scroll-margin: 70px

.desktop-hidden
  @media (min-width: $width-mobile)
    display: none

.mobile-hidden
  @media (max-width: $width-mobile)
    display: none

.tablet-hidden
  @media (min-width: $width-tablet)
    display: none
