section.reviews.bg-cell
    .reviews__container.container

        h2.title-section.title-section--light Отзывы клиентов

        .reviews__slider.swiper
            .swiper-wrapper.reviews__slider-wrapper

                .swiper-slide.reviews__slide
                    a(href="./assets/img/reviews/01.jpg" data-fancybox="gallery")
                        img(src="./assets/img/reviews/01.jpg")

                .swiper-slide.reviews__slide
                    a(href="./assets/img/reviews/02.jpg" data-fancybox="gallery")
                        img(src="./assets/img/reviews/02.jpg")

                .swiper-slide.reviews__slide
                    a(href="./assets/img/reviews/03.jpg" data-fancybox="gallery")
                        img(src="./assets/img/reviews/03.jpg")

                .swiper-slide.reviews__slide
                    a(href="./assets/img/reviews/04.jpg" data-fancybox="gallery")
                        img(src="./assets/img/reviews/04.jpg")

                .swiper-slide.reviews__slide
                    a(href="./assets/img/reviews/05.jpg" data-fancybox="gallery")
                        img(src="./assets/img/reviews/05.jpg")

                .swiper-slide.reviews__slide
                    a(href="./assets/img/reviews/06.jpg" data-fancybox="gallery")
                        img(src="./assets/img/reviews/06.jpg")

            .swiper-button-next
            .swiper-button-prev

            .swiper-pagination