//--------- Блог Телеграм ---------
section.blog.bg-cell
    .blog__container.container
        .blog__content
            h1.blog__title #[span.color-accent Авторский телеграмм канал] <br> про рекламу в яндекс директ, продажи и маркетинг <a href="https://t.me/direct_chuykov" target="_blank"><img src="./assets/img/icons/telegram.svg" ></a>
            p.blog__subtitle Делюсь эффективными методами привлечения клиентов.

            ul.blog__advantages
                li Практический опыт, более 1000 настроиных рекламных компаний
                li Постоянно на ведение 7+ компаний
                li Даю бесплатно то, за что другие берут деньги

            .blog__actions
                a.button.button--accent(href="https://t.me/direct_chuykov" target="_blank") Перейти в телеграмм канал
                img(src="./assets/img/qr-code.png")

        img.blog__img(src="./assets/img/hero-img.png" data-da=".blog__content, 900, 2")

