section.hero
    .hero__container.container
        .hero__content
            h1.hero__title Настройка #[span.color-accent Яндекс Директ “под ключ”] от практика
            p.hero__desc Через #[span 5-7 дней] вы получите готовую рекламную компанию и увеличите количество заявок #[span на 30-60%]

            .hero__additional
                p Грамотная настройка за счет большого опыта и моих наработок позволяет #[span приводить  новых клиентов и увеличить вашу прибыль на второй день после запуска.]

            .hero__buttons
                button.button.button--yellow.popup-link(data-popup-title="Оставить заявку на настройку Яндекс Директ") Заказать настройку
                a.button.button--outline(href="#prices") Перейти к ценам

        img.hero__img(src="./assets/img/hero-img.png" data-da=".hero__content, 900, 2")

        ul.hero__services
            li.hero__services-item
                p Настройка #[span на вашем аккаунте]
            li.hero__services-item
                p #[span Советы по сайту] для увеличения продаж
            li.hero__services-item
                p Сроки настройки #[span 5-7 дней]
            li.hero__services-item
                p Бесплатное ведение - #[span 14 дней]