//--------- Этапы настройки Яндекс Директ ---------
section.stages#stages
    .stages__container.container
        h2.title-section Этапы настройки Яндекс Директ

        ul.stages__list
            li.stages__item
                span.stages__item-num 01
                h3.stages__item-title Оставляете заявку
                p.stages__item-text Заполняем бриф, подписываем договор, производите оплату 50%

            li.stages__item
                span.stages__item-num 02
                h3.stages__item-title Собираю матрицу запросов
                p.stages__item-text Собираю семантическое ядро, разбиваю по групировкам, и формурую список минус слов.

            li.stages__item
                span.stages__item-num 03
                h3.stages__item-title Доп. чистка запросов
                p.stages__item-text Отправляю готовую семантику для оконьчательного согласования.

            li.stages__item
                span.stages__item-num 04
                h3.stages__item-title Подготовка обьявлений
                p.stages__item-text Подготовливаю обьявления, поиск, РСЯ, Ретаргетинг (согласно брифа)

            li.stages__item
                span.stages__item-num 05
                h3.stages__item-title Настройка метрики и целей
                p.stages__item-text Провожу полную настройку целей в метрике для сбора полной статистики по компаниям

            li.stages__item
                span.stages__item-num 06
                h3.stages__item-title Запуск кампании
                p.stages__item-text Запускаем компании и получаем клиентов. + 14 дней бесплатного ведения.
