section.problems
    .problems__container.container
        h2.title-section Самые частые ситуации которые я решаю  5 лет:

        ul.problems__list

            li.problems__item.problems-item
                img.problems-item__icon(src="./assets/img/icons/problems/01.svg")
                h3.problems-item__caption Реклама работает в минус
                p.problems-item__text Контекстная реклама работает в минус или очень догогие заявки

            li.problems__item.problems-item
                img.problems-item__icon(src="./assets/img/icons/problems/02.svg")
                h3.problems-item__caption Нет заявок
                p.problems-item__text Реклама работает, есть показы, клики но заявок нет или они нелеквидные

            li.problems__item.problems-item
                img.problems-item__icon(src="./assets/img/icons/problems/03.svg")
                h3.problems-item__caption Плохая конверсия сайта
                p.problems-item__text Реклама дает целевой трафик но клиент не оставляет заявку.

        article.problems__offer.problems-offer
            h3.problems-offer__caption У вас есть настроенные рекламные кампании, которые работают плохо
            p.problems-offer__text Получите #[span.color-yellow.fw-700 бесплатный аудит] рекламы и сайта +&nbsp;конкретные рекомендации по увеличению кол-ва обращений
            .problems-offer__buttons
                button.button.button--accent Получить бесплатный аудит
                a.button.button--outline(href="") Написать WhatsApp


