extends ../layouts/main

block variables
    - var title = "Александр Чуйков | Маркетолог/Директолог"

block content
    include ../blocks/hero/hero
    include ../blocks/about/about
    include ../blocks/problems/problems
    include ../blocks/results/results
    include ../blocks/differences/differences
    include ../blocks/youhave/youhave
    include ../blocks/reviews/reviews
    include ../blocks/advantages/advantages
    include ../blocks/prices/prices
    include ../blocks/stages/stages