//--------- Стоимость ведения и настройки Яндекс Директ ---------
section.prices#prices
    .prices__container.container
        h2.title-section Стоимость ведения и настройки Яндекс Директ

        ul.prices__cards

            li.prices__card.prices-card
                img.prices-card__decor(src="./assets/img/icons/prices/decor-1.svg")
                span.prices-card__supertitle Запуск за 7 дней
                h3.prices-card__title Настройка РК
                ul.prices-card__services
                    li Самая полная настройка Яндекс Директ, Поиск, РСЯ, Ретаргетинг
                    li Полный сбор семантики
                    li Советы по улучшению сайта
                    li Сопровождение 14 дней

                button.prices-card__button.button.button--accent.popup-link(data-popup-title="Оставить заявку на настройку Яндекс Директ") Оставить заявку
                span.prices-card__price от 19 990₽


            li.prices__card.prices-card
                img.prices-card__decor(src="./assets/img/icons/prices/decor-2.svg")
                span.prices-card__supertitle Лучшее предложение
                h3.prices-card__title Настройка и Ведение РК
                ul.prices-card__services
                    li Самая полная настройка Яндекс Директ, Поиск, РСЯ, Ретаргетинг
                    li Комплексное ведение рекламы в Яндекс Директ с  уменшением стоймости заявок 45  дней

                button.prices-card__button.button.button--accent.popup-link(data-popup-title="Оставить заявку на настройку+ведение  РК в Яндекс Директ") Оставить заявку
                span.prices-card__price от 27 990₽


            li.prices__card.prices-card
                img.prices-card__decor(src="./assets/img/icons/prices/decor-3.svg")
                span.prices-card__supertitle Ежемесячная оплата
                h3.prices-card__title Ведение РК
                ul.prices-card__services
                    li Комплексное ведение рекламы в Яндекс Директ с уменшением стоймости заявок, корректировок и оптимизации

                button.prices-card__button.button.button--accent.popup-link(data-popup-title="Оставить заявку на ведение  РК в Яндекс Директ") Оставить заявку
                span.prices-card__price от 10 000₽
