//--------- Дополнительные преимущества при работе со мной ---------
section.advantages#advantages
    .advantages__container.container
        h2.title-section Дополнительные преимущества при работе со мной

        ul.advantages__list

            li.advantages__item
                img.advantages__item-icon(src="./assets/img/advantages/01.png")
                h3.advantages__item-title Работаю по договору
                p.advantages__item-text Вы получаете юридическую гарантию на работу, где прописан объем, сроки и гарантии. Предоставляю все закрывающие документы

            li.advantages__item
                img.advantages__item-icon(src="./assets/img/advantages/02.png")
                h3.advantages__item-title Даю гарантию увеличения заявок
                p.advantages__item-text Я уверен в своих силах, поэтому даю гарантию, что вы получите заявки или я верну Вам полную стоимость своих услуг

            li.advantages__item
                img.advantages__item-icon(src="./assets/img/advantages/03.png")
                h3.advantages__item-title Веду до результата
                p.advantages__item-text Я уверен в своих силах, поэтому даю гарантию, что вы получите заявки или я верну Вам полную стоимость своих услуг

            li.advantages__item
                img.advantages__item-icon(src="./assets/img/advantages/04.png")
                h3.advantages__item-title Предоставляю подробные отчеты
                p.advantages__item-text Понятным языком пишу о том, что сделал, анализ рекламных компаний, а также стратегию на будущее