section.messageSuccess.bg-cell
    .messageSuccess__container.container
        h2.messageSuccess__title Заявка принята!
        p.messageSuccess__text Освобожусь и свяжусь с Вами) А пока можете вернуться на сайт или перейти в мой блог в телеграм канале
        .messageSuccess__buttons
            a.button.button--yellow(href="/") Вернуться на сайт
            a.button.button--outline(href="https://t.me/+7AXHY_J9jglmNThi") Перейти в телеграм канал
