section.differences
    .differences__container.container

        img.differences__img(src="./assets/img/differences.png")

        .differences__content
            h2.title-section.differences__title Чем я отличаюсь от остальных ?

            ul.differences__list
                li.differences__item
                    h3.differences__item-title 1. Не будет заявок - верну деньги
                    p.differences__item-text С учетом моего опыта, могу дать гарантию в получение заявок. Это не пустые обещания - все прописано в договоре.

                li.differences__item
                    h3.differences__item-title 2. Все внимание Вашему проекту
                    p.differences__item-text Я не стремлюсь взять 10 заказов, беру в месяц не более 3 для максимальной проработки и получения результата.

                li.differences__item
                    h3.differences__item-title 3. Выгодная инвестиция, а не потраченные нервы и деньги
                    p.differences__item-text У меня не самые низкие цены, но работая со мной Вам не придется искать нового специалиста;

                li.differences__item
                    h3.differences__item-title 4. Не работаю, если понимаю что окупаемости не будет.
                    //p.differences__item-text