//--------- Какие результаты дают мои рекламные кампании: ---------
section.youhave
    .youhave__container.container
        h2.title-section Какие результаты дают мои рекламные кампании:

        ul.youhave__list

            li.youhave__item.youhave-item
                img.youhave-item__icon(src="./assets/img/icons/youhave/01.svg")
                h3.youhave-item__caption Получаете целевой трафик
                p.youhave-item__text Получаете только целевой, горячий трафик, который заинтересован в услуги/покупке

            li.youhave__item.youhave-item
                img.youhave-item__icon(src="./assets/img/icons/youhave/02.svg")
                h3.youhave-item__caption Заявки в 2-3 раза дешевле
                p.youhave-item__text Будете получать заявки в 2-3 раза дешевле конкурентов сохранив объём заявок

            li.youhave__item.youhave-item
                img.youhave-item__icon(src="./assets/img/icons/youhave/03.svg")
                h3.youhave-item__caption Экономия бюджета
                p.youhave-item__text Перестанете сливать бюджет в контекстной рекламе и начнете зарабатывать

        .youhave__example
            h3.youhave__example-title Производство и продажа новогодних световых фигур
            a(href="./assets/img/youhave-result.png" data-fancybox)
                img(src="./assets/img/youhave-result.png")