.popup#popup
    .popup__container
        button.popup__close
            img(src="./assets/img/icons/close.svg")
        .popup__header
            h2.popup__title Оставить заявку на настройку Яндекс Директ
            span.popup__subtitle Выберете способ связи:

        .popup__connection
            button.popup__connection-item.popup__connection-item--email(type="button") E-mail
            button.popup__connection-item.js-active(type="button") Whatsapp
            button.popup__connection-item(type="button") Telegram

        form.popup__form.popup-form.form
            input.popup-form__input(type="text" name="name" placeholder="Ваше имя" maxlength="20" required)
            input.popup-form__input.popup-form__input--phone(type="text" name="phone" placeholder="Ваш номер телефона" required data-tel-input)
            input.popup-form__input.popup-form__input--email.hidden(type="email" name="email" placeholder="Ваша почта")
            button.button.button--accent(type="submit") Оставить заявку

        .popup__contacts
            span Или напишите:
            include ../social/social
